[Unit]
Description=Node Exporter Version {{ node-exporter-version }}
After=network-online.target
[Service]
User={{ node-exporter-user }}
Group={{ node-exporter-user }}
Type=simple
ExecStart={{ node-exporter-bin }}
[Install]
WantedBy=multi-user.target